<h2>Todo List</h2>

<table>
    <tr *ngFor="let item of items">
        <td>
            <div class="form-check form-check-inline">
                <input type="checkbox" class="form-check-input" id="{{ item.id }}" (change)="markItem($event, item)" [checked]="item.isCompleted">
                <label class="form-check-label" for="{{ item.id }}">{{ item.title }}</label>
            </div>
        </td>
        <td>
            <button id="view-details{{ item.id }}-btn" (click)="viewDetails(item)" type="button" class="btn btn-primary">View Details</button>
        </td>
        <td>
            <button id="view-details{{ item.id }}-delete-btn" class="btn btn-danger" (click)="deleteItem(item.id)">Delete</button>
        </td>
    </tr>
</table>

<button id="create-new-item-btn" type="button" (click)="createNewItem()" class="btn btn-primary">Create New Item</button>