<div class="row mb-3">
    <div id="title" class="col-4 offset-md-2">
        <h2>{{ item.title }}</h2>
    </div>
</div>

<div class="row">
    <div class="col-4 offset-md-4">
        <p>{{ item.description }}</p>

        <div class="text-center">
            <button (click)="markCompleted()" class="btn btn-success" *ngIf="!item.isCompleted">Mark Completed</button>
            <button (click)="goBack()" class="btn btn-primary">Go Back</button>
        </div>
    </div>
</div>