<form>
    <div class="form-group">
        <label for="title">Title</label>
        <input type="text" name="title" class="form-control" id="title" [(ngModel)]="title">
    </div>
    <div class="form-group">
        <label for="title">Description</label>
        <textarea name="description" class="form-control" id="description" [(ngModel)]="description"></textarea>
    </div>
    <div class="form-group">
        <input type="checkbox" name="isCompleted" class="form-check-input" id="isCompleted" [(ngModel)]="isCompleted">
        <label for="title" class="form-check-label">Is Completed?</label>
    </div>
    <div class="form-group">
        <button id="create-btn" type="button" (click)="createItem()" class="btn btn-success" [disabled]="title.length == 0 || description.length == 0">Create</button>
        <button id="cancel-btn" type="button" (click)="goBack()" class="btn btn-danger">Cancel</button>
    </div>
</form>